html, body {
	height: 100%;
}

main {
	--size: 64px; /* Размер тайла */
	--landscape-offset: calc(var(--size) * 0.15);

	padding: calc(var(--landscape-offset) + 1rem);

	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#gamefield {
	position: relative;
	width: fit-content;
}


#landscape {
	position: relative;
	top: var(--landscape-offset);
	left: var(--landscape-offset);
}

#landscape > .row {
	width: fit-content;
	flex-wrap: nowrap;
}


/* -------------------------------------------------- field -------------------------------------------------- */
field {
	width: var(--size);
	height: var(--size);

	image-rendering: pixelated;
	position: relative;
}

field::before {
	z-index: 0;
	content: '';
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

	background-image: var(--texture);
	background-size: 100%;

	/* Рандомизация (значения переменных генерируются на js) */
	background-position: calc(var(--size) * var(--off-x, 0)) calc(var(--size) * var(--off-y, 0));
	transform: rotate(calc(90deg * var(--rotation, 0)));
}

field::after {
	z-index: 1;
	content: '';
	position: absolute;

	top: -100%; bottom: 0;
	left: -100%; right: 0;

	background-image: var(--texture);
	background-size: 50%;

	mask-image: url('../assets/env/mask.png');
	mask-size: 100%;
}

field:last-child::after,
#landscape > .row:last-child > field::after {
	bottom: -100%;
	right: -100%;
	background-size: 33.3%;
}

field:last-child::after {
	mask-image: url('../assets/env/mask-right.png');
}

#landscape > .row:last-child > field::after {
	mask-image: url('../assets/env/mask-down.png');
}

#landscape > .row:last-child > field:last-child::after {
	mask-image: url('../assets/env/mask-right-down.png');
}

field.no-border::after {
	background: none;
}

field[type=grass]     { --texture: url('../assets/env/grass.png');     }
field[type=moss]      { --texture: url('../assets/env/moss.png');      }
field[type=sand]      { --texture: url('../assets/env/sand.png');      }
field[type=beachsand] { --texture: url('../assets/env/beachsand.png'); }
field[type=water]     { --texture: url('../assets/env/water.gif');     }